.canvas {
    width: 50%;
    height: 70%;
    touch-action: none;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
    position: relative;
}

@media all and (min-width: 0px) and (max-width: 800px) {
    .canvas {
        width: 95%;
    }
}